body{
	margin: 0;
	padding: 0;
}
section{
	width:340px;
	height:440px;
	text-align: center;
}
#splash{
	background: LightSeaGreen;
}
#home{
	background: OrangeRed;
}
#juego{
	background: Violet;
}
#instrucciones{
	background: YellowGreen;
}
#creditos{
	background: DeepSkyBlue;
}	
#instrucciones p{
	margin:25px;
	text-align: left;
}	
.boton{
	background-color: Navy;
	color:white;
	padding: 10px;
	text-decoration: none;
}
.volver{
	margin-left: -300px;
	line-height: 50px;
}
.ocultar{
	display: none;
}